:root {
    --black: #000000;
    --bg: #121714;
    --border: #78A1BB;
    --primary: #14F5AA;
    --dim: #2C7B61;
    --secondary: #FF499E;
    --accent: #FFC60A;
    background: var(--bg);
    color: var(--secondary);
    font-family: 'ProFont', monospace;
}

@font-face {
    font-family: 'ProFont';
    src: url('/src/assets/ProFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
