:root {
    --black: #000000;
    --bg: #121714;
    --border: #78A1BB;
    --primary: #14F5AA;
    --dimish: #14F5AA99;
    --dim: #14F5AA66;
    --dimmer: #14F5AA33;
    --secondary: #FF499E;
    --accent: #FFC60A;
    --progress: #FF499E;
    --font-titles: 3vmin;
    --font-artist: 2.4vmin;
    --font-info: 2vmin;
    --border-tile: 0.7vmin;
    --border-small: 0.5vmin;
    --border-hr: 0.4vmin;
    color: var(--secondary);
    font-family: 'ProFont', monospace;
}

body {
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 0vmin 5vmin;
}

@font-face {
    font-family: 'ProFont';
    src: url('./assets/ProFont.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.stripes {
  background: repeating-linear-gradient(
    -45deg,
    #121714,       /* First color starts at 0 */
    #121714 20px,  /* First color ends at 10px */
    #1B221E 20px,  /* Second color starts immediately */
    #1B221E 40px   /* Second color ends at 20px */
  );
  animation: move-stripes 5s linear infinite;
  background-size: 56.57px 56.57px;
}

@keyframes move-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 56.57px 0;
  }
}

.container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 540px) {
    body {
        overflow: hidden;
        padding: 5vmin;
        align-items: start;
    }
}
